<launch>
<!--    amcl does not converge without movement -->

<!--    <node pkg="nav2_lifecycle_manager" exec="lifecycle_manager" name="lifecycle_manager" output="screen">-->
<!--        <param name="autostart" value="true"/>-->
<!--        <param name="node_names" value="['map_server', 'amcl']"/>-->
<!--    </node>-->

<!--    <node pkg="nav2_map_server" exec="map_server" name="map_server" output="screen">-->
<!--        <param name="yaml_filename" value="/home/pi/.ros/map.yaml"/>-->
<!--    </node>-->

<!--    <node pkg="nav2_amcl" exec="amcl" name="amcl" output="screen">-->
<!--        <param from="$(find-pkg-share rumi_nav)/config/amcl.yaml"/>-->
<!--    </node>-->

    <include file="$(find-pkg-share slam_toolbox)/launch/localization_launch.py">
        <arg name="slam_params_file" value="$(find-pkg-share rumi_nav)/config/localization.yaml"/>
    </include>
</launch>
