<!-- Model with YDLidar on top -->
<launch>
    <!-- base controller dirver -->
    <node pkg="rumi_driver" exec="rumi_driver" name="driver">
        <param from="$(find-pkg-share rumi_driver)/config/driver.yaml" allow_substs="true"/>
    </node>

    <!-- teleop -->
    <node pkg="rumi_teleop" exec="rumi_teleop" name="teleop">
        <param from="$(find-pkg-share rumi_teleop)/config/teleop.yaml" allow_substs="true"/>
    </node>

    <!-- lidar driver -->
    <node pkg="ydlidar_ros2_driver" exec="ydlidar_ros2_driver_node" name="ydlidar_ros2_driver_node" output="screen">
        <param from="$(find-pkg-share ydlidar_ros2_driver)/params/TminiPro.yaml" allow_substs="true"/>
        <param name="port" value="/dev/serial0"/>
        <param name="frequency" value="9.6"/>  <!-- actually publishes 10.0 Hz -->
        <param name="reversion" value="false"/>
    </node>

    <!-- static tfs -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="base_lidar_tf"
          args="--x 0.038 --z 0.045 --frame-id base_link --child-frame-id laser_frame"
    />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="base_base_tf"
          args="--frame-id base_footprint --child-frame-id base_link"
    />

    <!-- navigation -->
    <node pkg="rumi_nav" exec="rumi_nav" name="nav"/>
</launch>
