<!-- Model with YDLidar on top -->
<launch>
    <arg name="enable_lane" default="false"/>

    <include file="$(find-pkg-share rumicar)/launch/original.launch">
        <arg name="driver_config" value="$(find-pkg-share rumi_driver)/config/driver_kuro.yaml"/>
    </include>

    <!-- static tfs -->
    <node pkg="tf2_ros" exec="static_transform_publisher" name="base_base_tf"
          args="--z 0.015 --frame-id base_footprint --child-frame-id base_link"
    />
</launch>
