<!-- Original model -->
<launch>
    <arg name="driver_config" default="$(find-pkg-share rumi_driver)/config/driver.yaml"/>
    <arg name="enable_lane" default="false"/>

    <!-- base controller dirver -->
    <node pkg="rumi_driver" exec="rumi_driver" name="driver" output='screen'>
        <param from="$(var driver_config)" allow_substs="true"/>
    </node>

    <!-- teleop -->
    <node pkg="rumi_teleop" exec="rumi_teleop" name="teleop">
        <param from="$(find-pkg-share rumi_teleop)/config/teleop.yaml" allow_substs="true"/>
    </node>

    <!-- camera driver -->
    <include file="$(find-pkg-share rumicar)/launch/camera.launch" if="$(var enable_lane)"/>

    <!-- lane detection and control -->
    <include file="$(find-pkg-share rumi_lane)/launch/lane.launch" if="$(var enable_lane)"/>
</launch>
